body {
  position: relative;
  padding-bottom: 58px; 
  min-height: 100vh;
}

.content-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fact-div {
  margin: 100px;    
}

#ethnicity-chart {
  display: inline-block;
  margin: 0 auto;
}

#anime-chart {
  display: inline-block;
  margin: 0 auto; 
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bebebe;
  color: white;
  text-align: center;
}

header {
  text-align: center;
}

html {
  background-image:
    linear-gradient(
      to right, 
      #02c8fa, #4053cf
    );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  height: 500px;
  width: auto;
  display: inline-block;
}

#map-cisland {
  height: 500px;
  width: 100%;
}

#map-home {
  height: 500px;
  width: 100%;
}

#map-silliman {
  height: 500px;
  width: 100%;
}

.london-photos {
  width: 80%;
  min-width: 500px;
  max-width: 1920px;
  margin: auto;
  text-align: center;  
}
 
td {
  border: 1px solid Black;
}

.topnav {
  overflow: hidden;
  background-color: #f1f1f1;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid rgb(0, 110, 255);
}

.topnav a.active {
  border-bottom: 3px solid rgb(0, 110, 225);
}

video {
  width: 500px;
  height: 300px;
}

.yale-photos {
  width: 80%;
  min-width: 500px;
  max-width: 1920px;
  margin: auto;
  text-align: center; 
}
